/*article main */
img {
    margin-top: 150.67px;
}
.article {
    background-color: #383838;
}
.col-1-4 {
    width: 25%;
    text-align: center;
    padding: 50px 11px;
}

hr {
    border: 0.75px solid #4C4C4C;
}
/* section main */
.row2 {
    text-align: center;
    padding: 75px 45px;
    a {
        color: #197D62; 
    }
    .button {
        color: white;
        padding: 23px 50px;
        background-color: #197D62;
        letter-spacing: 3px;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        margin-top: 40px;
    }
}
